%table.table.table-responsive
  %tbody
    - @paintings.each do |painting|
      %tr
        %td= image_tag painting.image.url(:thumb)

        %td= link_to "#{painting.title}", painting
        %td= painting.inventory
        %td= painting.medium
        %td= painting.dimension
        %td= painting.year
        %td= painting.exhibition
        %td= painting.current
        

