.hidden-xs
  %table.table.table-responsive
    %tbody
      %thead
        %tr
          %th
          %th Title
          %th
          %th
          %th
          %th 
          %th Year
          - if user_signed_in?
            %th
      - @paintings.each do |painting|
        %tr
          %td{:style => "font-size:.9em;border-top-color:#fff"}= link_to (image_tag painting.image.url(:thumb)), painting

          %td{:style => "font-size:.9em;border-top-color:#fff"}= link_to "#{painting.title}", painting
          %td{:style => "font-size:.9em;border-top-color:#fff"}= painting.inventory
          %td{:style => "font-size:.9em;border-top-color:#fff"}= painting.medium
          %td{:style => "font-size:.9em;border-top-color:#fff"}= painting.dimension
          %td{:style => "font-size:.9em;border-top-color:#fff"}= painting.exhibition
          %td{:style => "font-size:.9em;border-top-color:#fff"}= painting.year
          - if user_signed_in?
            %td{:style => "font-size:.9em;border-top-color:#fff"}= painting.current
.visible-xs          
  - @paintings.each do |painting|
    .row{:style => "padding-top:20px;"}
      .col-xs-2
        = link_to (image_tag painting.image.url(:medium)), painting, :class => "img-responsive"
      .col-xs-10{:style => "padding-top:10px;"}
        %p{:style => "font-size:.9em;"}= link_to "#{painting.title}", painting
        %p{:style => "font-size:.9em;"}= painting.year
