.container
  .row
    .col-xs-12
      = link_to "Home", root_path, :class => "btn btn-default btn-large" , :style => "margin-left:12px; width:100px;"
  .row{:style => "padding-top:30px;"}
    .col-sm-9

      = image_tag @painting.image.url(:large), :class => "image-responsive"
    .col-sm-3
      %p{:style => "font-size:.9em;"}
        %b Inventory:
        = @painting.inventory
      %p{:style => "font-size:.9em;"}
        %b Title:
        = @painting.title
      %p{:style => "font-size:.9em;"}
        %b Medium:
        = @painting.medium
      %p{:style => "font-size:.9em;"}
        %b Dimension:
        = @painting.dimension
      %p{:style => "font-size:.9em;"}
        %b Year:
        = @painting.year
      %p{:style => "font-size:.9em;"}
        %b Exhibition:
        = @painting.exhibition
      - if user_signed_in?
        %p
          %b Current:
          = @painting.current
        = link_to 'Edit', edit_painting_path(@painting)
        \|
        = link_to 'Back', paintings_path


